
<div class="body"  >

    
    <table class="table" >
     <thead class="table-dark">
<tr class="text-center">
  <th scope="col">firstName</th>
  <th scope="col">lastName</th>
  <th scope="col">email</th>
  <th scope="col">password</th>
  <th scope="col">bio</th>
  <th scope="col">role</th>
   <th scope="col">pays</th>
  <th scope="col">uid</th>
  <th scope="col" colspan="3">options</th>
</tr>
</thead>
<tbody  *ngFor="let item of dataArray" >
        
                <tr>
                  <td><h5 class="card-title">{{item.firstName}}</h5></td>
                  <td><h5 class="card-title">{{item.lastName}}</h5></td>
                
                  <td><p class="card-text">{{item.email}}</p></td>  
                  <td><p class="card-text">{{item.password}}</p></td>
                  <td><p class="card-text">{{item.bio}}</p></td>
                  <td><p class="card-text">{{item.role}}</p></td>
                  <td><p class="card-text">{{item.pays}}</p></td>
                  <td><p class="card-text">{{item.uid}}</p></td>
                  <td><span class="text-save" style="cursor: pointer;"><i class="fas fa-pen-square"(click)="updatec(item.id)"></i></span>
                  </td>
                  <td>
                    <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" (click)="delete(item.id)"></i></span>
                                      </td>
       
                </tr>
</tbody>
              </table> 
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>