
<div class="body"  >

    
    <table class="table" >
     <thead class="table-dark">
<tr class="text-center">
  <th scope="col">firstName</th>
  <th scope="col">lastName</th>
  <th scope="col">email</th>
  <th scope="col">password</th>
  <th scope="col">bio</th>
  <th scope="col">role</th>
   <th scope="col">pays</th>
  <th scope="col">uid</th>
  <th scope="col" colspan="3">options</th>
</tr>
</thead>
<tbody  *ngFor="let item of dataArray" >
        
                <tr>
                  <td><h5 class="card-title">{{item.firstName}}</h5></td>
                  <td><h5 class="card-title">{{item.lastName}}</h5></td>
                
                  <td><p class="card-text">{{item.email}}</p></td>  
                  <td><p class="card-text">{{item.password}}</p></td>
                  <td><p class="card-text">{{item.bio}}</p></td>
                  <td><p class="card-text">{{item.role}}</p></td>
                  <td><p class="card-text">{{item.pays}}</p></td>
                  <td><p class="card-text">{{item.uid}}</p></td>
                  <td><span class="text-save" style="cursor: pointer;"><i class="fas fa-pen-square"(click)="updatec(item.id)"></i></span>
                  </td>
                  <td>
                    <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" (click)="delete(item.id)"></i></span>
                                      </td>
       
                </tr>
</tbody>
              </table> 
</div>
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hide this modal and show the first with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>