


<div id="fh5co-course-categories">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Course categories</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
             <div  *ngFor="let p of dataArray">
            <div class="col-md-6 col-sm-9 ">
                <div class="uk-card uk-card-default uk-width-1-2@m">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
            <img [src]="p.image"  alt="..."   style="width: 11rem;height:7rem;" >
         </div>
         <div class="uk-card-body">
             <h5 h3 class="uk-card-title uk-margin-remove-bottom">{{p.course}}</h5>
             <p>{{p.description}}</p>   
       <div *ngIf="p.selling==0">
   <p>{{p.original}}</p>
     </div>
    <div *ngIf="p.selling!=0">
    <p><s>{{p.original}}</s>&nbsp;{{p.selling}}</p> 
      
  </div>
  <button class="btn btn-primary" (click)="enroll(p.id)">
        enroll
     </button>
  
   </div>
   </div>
</div>   

     
</div>
</div>
</div>
</div>
</div>
</div>